/* Main part: 3 columns */
:root {
    --default-font: bold 24px Arial, Helvetica, sans-serif;
    --lighter-font: normal 24px Arial, Helvetica, sans-serif;
    --smaller-font: normal 18px Arial, Helvetica, sans-serif;
    --hebrew-font: bold 20px 'Lucide Grande', sans-serif;
    --default-bg: gradient(90deg, ivory, lightskyblue);
    --default-shadow: 5 5 gray;
}

#page {
    background-color: blue;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#welcome {
    background: var(--default-bg);
    box-shadow: var(--default-shadow);
    color: white;
    text-align: center;
}

#salutation {
    font: var(--default-font);
}

a.homelink {
    color: white;
}

.headline {
    display: flex;
    flex-direction: column;
    font: var(--lighter-font);
    /* justify-content: center; */
    text-align: center;
    background: var(--default-bg);
    box-shadow: var(--default-shadow);
    gap: 15px;
}

.date { 
    display: flex;
    flex-basis: 33%;
    flex-direction: column;
    align-items:stretch;
}

#date__title {
    flex-basis: 50%;
}

#full__date {
    color: inherit;
    font-weight: bold;
    flex-basis: 50%;
}

.holiday {
    color: inherit;
}

.t__info {
    display: flex;
    flex-direction: column;
    text-align: center;
}



[class*="recite__"]
{
    color: inherit;
    font: var(--lighter-font);
    flex-basis: 50%;
}

[class*="omit__"]
{
    color: red;
    font: var(--lighter-font);
    flex-basis: 50%;
}

#times, #pagenums {
    background: var(--default-bg);
    box-shadow: var(--default-shadow);
    text-align: center;
    font: var(--lighter-font);
    font-style: italic;
}

p.exposition {
    max-width: 66%
}
#pagetbl {
    width: 66%;
    border: 1px;
    margin-left: auto;
    margin-right: auto;
}

#kaddish {
    display: flex;
    flex-direction: column;
    background: var(--default-bg);
    box-shadow: var(--default-shadow);
}

#kaddish__intro {
    font: var(--lighter-font);
    font-style: italic;
    text-align: center;
    max-width: 66%;
    margin-right: auto;
    margin-left: auto;
}

#kaddish__text {
    display: flex;
    flex-direction: row;
}

#kaddish__aramaic, #kaddish__translit {
    flex-basis: 40%;
    margin-left: auto;
    margin-right: auto;
}


#kaddish__aramaic {
    font: var(--hebrew-font);
}

#kaddish__translit {
    font: var(--lighter-font);
}