/* Main part: 3 columns */

.headline {
    display: flex;
    flex-direction: row;
    flex-basis: 33%;
    font: normal 24px 'Arial, Helvetica, sans-serif';
    width:fit-content;
    /* justify-content: center; */
}

@media screen and (max-width:600px) {
    .headline {flex-direction: row};
}

.date { 
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    align-items: center;
}

#date__title {
    background-color: lightcyan;
    text-align: center;
}

#full__date {
    background-color: darkblue;
    color: lightcyan;
    font-weight: bold;
    text-align: center;
}

.holiday {
    background-color: lightcyan;
}

.t__info {
    background-color: lightcyan;
    text-align: center;
}

.recite#tahanun {
    color: green;
}

.omit#tahanun {
    color: red;
}