/* Main part: 3 columns */

.headline {
    display: flex;
    flex-direction: row;
    font: normal 24px 'Arial, Helvetica, sans-serif';
    /* justify-content: center; */
    text-align: center;
    background-color: lightskyblue;
}

@media screen and (max-width:600px) {
    .headline {flex-direction: row};
}

.date { 
    display: flex;
    flex-basis: 33%;
    flex-direction: column;
    align-items: center;
}

#date__title {
    flex-basis: 50%;
}

#full__date {
    background-color: darkblue;
    color: lightcyan;
    font-weight: bold;
    flex-basis: 50%;
}

.holiday {
    color: inherit;
}

.t__info {
    /* background-color: lightcyan; */
    display: flex;
    flex-direction: column;
    text-align: center;
    /* align-items: center; */
}

.tahanun__header {
    background-color: darkblue;
    color: lightcyan;
    font-weight: bold;
    flex-basis: 33%;
}

.recite__minha#tahanun__minha, .recite_shaharit#tahanun__shaharit
{
    color: green;
    flex-basis: 33%;
}
.omit__minha#tahanun__minha, .omit_shaharit#tahanun__shaharit

{
    color: red;
    flex-basis: 33%;
}